/* src/styles/Header.css */
nav.navigation {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.navigation h1 {
    width: 30%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #857ecd;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 900;
    align-items: center;
    border: #857ecd 1px solid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 10px hsl(225, 100%, 94%);
    
    
    
}
